*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}
.container{
    display: flex;
    width: 90vw;
}
.place{
    margin: 10px;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 0.5;
    cursor: pointer;
    color: #fff;
    border-radius: 50px;
    -webkit-transition: all 700ms ease-in;
    background-position: center;

}
.place:hover{
    box-shadow: 0px 4px 7px 16px rgba(8, 24, 112, 0.295),0px 10px 15px -3px rgba(71, 2, 44, 0.349);
}
.place h3{
    font-size: 30px;
    position: absolute;
    opacity: 0;
    left: 20px;
    margin: 0;
    bottom: 20px;
    
}
.place.active {
    flex: 5;
}
.place.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
@media (max-width:480px){
    .container{
        width: 100vw;
    }
    .place{
        margin: 10px;
        /* height: 80vh; */
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        position: relative;
        flex: 0.5;
        cursor: pointer;
        color: #fff;
        border-radius: 50px;
        -webkit-transition: all 700ms ease-in;
        background-position: center;
    
    }
    .place:nth-of-type(4),
    .place:nth-of-type(5){
        display: none;
    }
}
